{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
	Register an account
  <h6 class="m-auto text-center text-info"> <a href="{% url 'login' %}">J'ai déjà un compte!</a> </h6>

{% endblock title %}


{% block content %}

  {% for field in registration_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if registration_form.non_field_errors %}
    <div style="color: red">
      <p>{{registration_form.non_field_errors}}</p>
    </div>   
  {% endif %}

  {% if save %}
    <h2> Votre inscription a réussi</h2>
  {% else %}
      <form enctype="multipart/form-data" action="{% url 'register' %}" method="post" >
          {% csrf_token %}
         <!-- {{ form.as_p }} {{ form1.as_p }} -->
  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputun4">Nom d'utilisateur:</label>
            <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
          </div>
          <div class="form-group col-md-12">
            <label for="inputEmail4">Votre adresse mail:</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          </div>
          <div class="form-group col-md-6">
            <label for="inputfs4">Votre Prénom:</label>
            <input type="text" name="first_name" id="inputUsername" class="form-control" placeholder="first name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputln4">Nom de Famille:</label>
            <input type="text" name="last_name" id="inputUsername" class="form-control" placeholder="last name" required>
          </div>
          <div class="form-group col-md-12">
            <label for="inputEmail4">Numéro de téléphone:</label>
            <input type="telepone" name="telephone_proprio" id="inputTelephone" class="form-control" placeholder="pĥone number" required>
          </div>
          <div class="form-group col-md-12">
            <label for="inputPassword4">Entrer un mot de passe:</label>
            <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>

            <!--div class="m-2"> 
              {{ form.username }}
              {{ form.email|as_crispy_field }}   
              {{ form.first_name|as_crispy_field }}  
              {{ form.last_name|as_crispy_field }}   
              {{ form1.telephone_proprio|as_crispy_field }}
              {{ form.password|as_crispy_field }}   
            </div-->
              <button type="submit" class="btn btn-outline-success p-2 m-1 btn-block">M'inscrire</button>
          </div>
      </form>
    {% endif %}

{% endblock content %}



