
{% extends 'iotCloud/accueil.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Connexion
{% endblock title %}

{% block content %}

             <div> 
                <h1 class="mt-5 text-center ">
                    <b class="text-info">bienvenue sur  la plate-forme IoT Cloud</b>
                </h1>
                
                <h5>
                    <b ><strong>IoT Cloud</strong> est une application hébergée dans le cloud qui permet à des personnes;
                  des organisations; ... propriétaire des reseaux de capteurs sans fils de faciliter la collecte des 
                  données mesurées par les capteurs de leurs réseaux. Les fonctionnalités de <strong>IoT Cloud </strong>
                  sont définies de façon à simplifier son utilisation afin que vous puissiez réaliser les 
                  tâches utiles le plus rapidement possible.</b>
                </h5>
            </div>  


 
{% endblock content %}




