
{% extends 'iotCloud/accueil.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Connexion
{% endblock title %}

{% block content %}
<div itemprop="articleBody">
		<h2><strong></strong></h2>
<h2><strong>Politique de Protection des Données Personnelles</strong></h2>
<p>Notre Politique de protection des données personnelles décrit la manière dont iot_Manager.org traite les données à caractère personnel des visiteurs et des utilisateurs lors de leur navigation sur notre site&nbsp;<a href="http://www.iot_Manager.org">iot_Manager</a>. La Politique de protection des données personnelles fait partie intégrante des Conditions Générales d'Utilisation du Site.</p>
<p>iot_Manager accorde en permanence une attention aux données de nos Utilisateurs. Nous pouvons ainsi être amenés à modifier, compléter ou mettre à jour périodiquement la Politique de protection des données personnelles. Nous pourrons aussi apporter des modifications nécessaires afin de respecter les changements de la législation et règlementation en vigueur. Dans la mesure du possible, nous vous notifierons tout changement important. Nous vous encourageons toutefois à consulter régulièrement la dernière version en vigueur, accessible sur notre Site.</p>
<p>Quelles données personnelles sont collectées et pour quelles finalités&nbsp;?</p>
<p>Lorsque vous utilisez notre plateforme et/ou lors de votre inscription, nous collectons et traitons des données à caractère personnel vous concernant telles que&nbsp;: vos noms et prénoms.</p>
<p>Nous vous demanderons également de nous transmettre votre adresse email afin d'utiliser cette donnée pour la création d'un compte, l'envoi d'emails d'informations et de notifications.</p>
<p>Nous collectons également votre pseudo, avatar, votre numéro de téléphone, et certaines informations disponibles sur vos réseaux sociaux.</p>
<p>Lorsque vous nous transmettez vos coordonnées, nous pouvons être amenés à vous contacter par téléphone.</p>

<h3><strong>Vos données sont-elles partagées avec des tiers&nbsp;?</strong></h3>
<p>Les données personnelles vous concernant collectées sur notre plateforme sont destinées pour la propre utilisation par iot_Manager et peuvent être transmises aux sociétés sous-traitantes auxquelles iot_Manager peut faire appel dans le cadre de l'exécution de ses services.</p>
<p>iot_Manager ne vend ni ne loue vos données personnelles à des tiers à des fins de marketing, en aucun cas.</p>
<p>Nous travaillons également en étroite collaboration avec des entreprises tierces qui peuvent avoir accès à vos données personnelles, en particulier&nbsp;:</p>
<ul>
<li>Lorsque vous en faites la demande expresse (par exemple lorsque vous utilisez les méthodes d'authentification fournies par les réseaux sociaux vous permettant d'intégrer dans votre profil iot_Manager des informations issues de votre compte sur leur propre plateforme ;</li>
<li>Lorsque nous faisons appel à des fournisseurs de moteurs de recherche et de solutions analytiques pour améliorer et optimiser notre plateforme ;</li>
<li>Lorsque nous avons l'obligation légale de le faire ou si nous pensons de bonne foi que cela est nécessaire pour (i) répondre à toute réclamation à l'encontre de iot_Manager, (ii) se conformer à toute demande judiciaire, (iii) faire exécuter tout contrat conclu avec nos membres, tel que les Conditions Générales d'Utilisation et la présente Politique de protection des données personnelles (iv) en cas d'urgence mettant en jeu la santé publique ou l'intégrité physique d'une personne, (v) dans le cadre d'enquêtes et d'investigations ou (vi) afin de garantir les droits, les biens et la sécurité de iot_Manager, ses membres et plus généralement tout tiers ;</li>
<li>En outre, iot_Manager ne divulgue pas vos données personnelles à des tiers, excepté si (1) vous (ou votre administrateur de compte agissant en votre nom) en formulez la demande ou autorisez la divulgation ; (2) la divulgation est requise pour traiter des transactions ou fournir des services que vous avez demandés ; (3) le tiers agit en tant qu'agent ou de sous-traitant de iot_Manager dans l'exécution des services (par exemple, iot_Manager utilise les services d'une société de télécommunications).</li>
</ul>
<p>Si iot_Manager ou tout ou partie de ses actifs sont rachetés par un tiers, les données en notre possession seront, le cas échéant, transférées au nouveau propriétaire.</p>
<p>Nous pouvons agréger des données qui vous concernent et que nous recevons ou envoyons à nos partenaires commerciaux, notamment tout ou partie de vos données personnelles et les informations collectées par l'intermédiaire de cookies. Ces informations agrégées ne seront utilisées que pour les finalités décrites ci-dessus.</p>
<p>Sur simple demande, nous pouvons vous fournir la liste des pays où nous conservons vos données et ceux où elles transitent occasionnellement.</p>
<h3>Comment sont protégées vos données personnelles&nbsp;?</h3>
<p>iot_Manager applique les mesures de sécurité technologiques et organisationnelles généralement reconnues afin que les données à caractère personnel recueillies ne soient, ni perdues, ni détournées, ni consultées, ni modifiées ni divulguées par des tiers non autorisés sauf si la communication de ces données est imposée par la réglementation en vigueur, notamment à la requête d'une autorité judiciaire, de police, de gendarmerie ou de toute autre autorité habilitée par la loi.</p>
<p>La sécurité des données personnelles dépend également des Utilisateurs. Les Utilisateurs qui sont membres de iot_Manager s'engagent à conserver la confidentialité de leur identifiant et de leur mot de passe. Les membres s'engagent également à ne pas partager leur compte et à déclarer à iot_Manager toute utilisation non autorisée dudit compte dès lors qu'ils en ont connaissance.</p>
<p>Quelle est la durée de conservation des données personnelles des utilisateurs de iot_Manager&nbsp;?</p>
<p>Les données à caractère personnel communiquées par les Utilisateurs de iot_Manager seront supprimées à l'issue d'une certaine période et selon les données traitées.</p>
<p>Afin de permettre aux membres de récupérer leur compte en cas d'oubli de mot de passe après une période prolongée sans connexion au Site, votre e-mail est conservé par sécurité. Il est néanmoins possible de le supprimer en modifiant les informations de son profil sur la section «&nbsp;Mon compte&nbsp;» du Site.</p>
<p>Nous conservons vos données uniquement le temps nécessaire pour les finalités poursuivies, conformément aux prescriptions légales, et notamment :</p>
<ul>
<li>Données de connexion et relatives à votre profil&nbsp;:
<ul>
<li>5 ans après votre dernière utilisation de notre plateforme, si vous n'avez pas fermé votre compte ;</li>
<li>Dans l'hypothèse où votre compte a été suspendu ou bloqué, nous conservons vos données pour une durée de 2 ans à compter de la suspension afin d'éviter tout contournement de votre part des règles en vigueur sur notre plateforme.</li>
</ul>
</li>
<li>Données de facturation et relatives à votre contrat : 10 ans</li>
<li>Données des visiteurs et relatives à la prospection commerciale: 3 ans</li>
</ul>

<p>Que se passe-t-il en cas d'utilisation des services iot_Manager en relation avec les réseaux sociaux&nbsp;?</p>
<p>Lorsque vous utilisez des réseaux sociaux et des services ou applications de iot_Manager en relation avec des réseaux sociaux, cela est susceptible d'entraîner une collecte et un échange de certaines données entre les réseaux sociaux et iot_Manager.</p>
<p>Nous ne sommes pas responsables de l'utilisation qui est faite de vos données par les réseaux sociaux pour leur propre compte. Vous avez la possibilité de paramétrer et contrôler directement sur les réseaux sociaux l'accès et la confidentialité de vos données.</p>
<h2><strong>Quels sont vos droits&nbsp;?</strong></h2>
<p>Conformément à la réglementation en vigueur les Utilisateurs de notre plateforme disposent des droits suivants&nbsp;:</p>
<ul>
<li>droit d'accès et de rectification ;</li>
<li>de mise à jour, de complétude des données Utilisateurs ;</li>
<li>droit de verrouillage ou de suppression des données des Utilisateurs à caractère personnel, lorsqu'elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite ;</li>
<li>droit de retirer à tout moment un consentement ;</li>
<li>droit à la limitation du traitement des données des Utilisateurs ;</li>
<li>droit d'opposition aux traitement des données personnelles ;</li>
<li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l'objet de traitements automatisés fondés sur leur consentement ou un contrat.</li>
</ul> 	</div>

{% endblock content %}
