<footer class="text-monospace footer border-top shadow-lg">
        <hr class="mt-0 bg-info " width="100% ">
        <div class="row m-0 p-5 text-light bg-info">
            <div class="col-9">
                <h5>Plus d'informations</h5>
                <hr class="mt-1 bg-light ml-0 " width="100% ">
                <div class="row">
                    <div class="col-6">
                        <a class="text-dark" href=" ">Conditions générales d'utilisation </a><br/>
                        <a class="text-dark" href=" ">A propos de nous</a>
                    </div>
                    <div class="col-3">
                        <p>
                            <a class="text-dark" href=" ">Aide</a><br/>
                            <a class="text-dark" href=" ">Contactez-nous</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h5>Langues</h5>
                <hr class="mt-1 bg-light ml-0 " width="100% ">
                <select name="" id="" class="p-2">
                    <option>Anglais</option>
                    <option>Allemand</option>
                    <option>Espagnol</option>
                    <option>Français</option>
                    <option>Japonais</option>
                    <option>Portugais</option>
                </select>
            </div>
        </div>
        <div class="bg-dark text-center p-2 text-info ">
            copyright 2020 - tout droits reservés
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
