 
{% extends "gestionIoT/accueil.html" %}

{% block page_title %}
Mes réseaux
<hr class="mt-2 mb-4">
{% endblock %}

{% block content %}
  <p>
    <a href="{% url 'nouveau_reseau' %}" class="btn btn-primary">Nouveau réseau</a>
  </p>
  <table class="table table-bordered table-hover">
    <thead class="bg-info">
      <tr>
        <th>#</th>
        <th>Nom (nb de puits)</th>
        <th>Date de création</th>
        <th>Description</th>
        <th>nb capteur</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      {% for netw in reseaux %}
        <tr>
          <td>{{ nb }}</td-->
          <td>
            {{ netw.nom_reseau }} 
            ({{ nb }} <a href="#" class="tooltip-test" title="Ajouter un puits au réseau" data-toggle="modal" data-target="#exampleModalCenter__"> ++</a>)</td>
            <td>{{ netw.date_creation }}</td>
          <td><a href="#" data-toggle="tooltip" data-placement="top" title="{{ netw.description_reseau }}">
                {% if netw.description_reseau|length > 25 %}
                    {{ netw.description_reseau|slice:"25" }}...
                {% else %}
                    {{ netw.description_reseau }}
                {% endif %}</a>
          </td>
          <td><a href="#"> </i></a></td>
          <td><!-- Button to edit -->
              <a class="bg-info p-1 text-dark" data-toggle="modal" data-target="#exampleModalCenter_" href="#">
                modifier
              </a>
          </td>
          <td><!-- Button to delete -->
            <a class="bg-danger p-1 text-dark" data-toggle="modal" data-target="#exampleModalCenter" href="#">
              supprimer
            </a>
          </td>
          <!--td>< Button to delete >
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
              supprimer
            </button-->
          </td>
        </tr>
      {% empty %}
        <tr class="table-active text-center">
          <td colspan="7">Vous n'avez aucun réseau pour le moment...</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="m-4">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      choisir un réseau 
      </button>
      <div class="dropdown-menu">
        {% for netw in reseaux %}
          <a class="dropdown-item p-2" href="#">{{ netw.nom_reseau }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr class="mt-2 mb-4">


  <!-- Supprimer un réseau -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h5 class="modal-title" id="exampleModalLongTitle">Suppression de réseau</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Voulez-vous vraiment supprimer ce réseau?
          si oui, 
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Entrer votre mot de passe:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
          <hr class="mt-2 mb-4">
          <div class="text-danger"><h5>NB: Toutes les données liées à ce réseau seront supprimées.</h5></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger">Confirmer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modifier un réseau -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter_" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header  bg-info">
          <h5 class="modal-title" id="exampleModalLongTitle">Modifier le réseau</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Ajouter des modifications que vous voulez apporter
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nom:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Description:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-info">Confirmer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modifier un réseau -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter__" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header  bg-info">
          <h5 class="modal-title" id="exampleModalLongTitle">Nouveau puits</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Adresse du puits:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-info">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}