{% extends "iotCloud/accueil.html" %}

{% block content %}
<h2 class="text-dark text-right mb-4 text-monospace"> A propos de mon compte </h2> 

<h5 class="text-info mt-4 text-monospace "><b> Profil</b></h5>
  <hr class="mt-2 mb-4 bg-info">

  {% if user.is_authenticated %}
    <table class="table border-0">
      <tr>
          <td>Nom d'utilisateur: </td>
          <td>{{ user.username }} </td>
      </tr>
      <tr>
          <td>Nom de famille:</td>
          <td>{{ user.last_name }} </td>
      </tr>
      <tr>
          <td>Prénom: </td>
          <td>{{ user.first_name }} </td>
      </tr>
      <tr>
          <td>email: </td>
          <td>{{ user.email }} </td>
      </tr>
      <tr>
          <td>Numéro de téléphone: </td>
          <td>{{ proprietaire.telephone_proprio }} </td>
      </tr>
      <!--tr>
          <td>Mon pays: </td>
          <td>{{ proprietaire.pays_proprio }} </td>
      </tr>
      <tr>
          <td>Ma Ville: </td>
          <td>{{ proprietaire.ville_proprio }} </td>
      </tr>
      <tr>
          <td>Image de profil: </td>
          <td>{{ proprietaire.avatar }} </td>
      </tr-->
    </table>
  {% endif %}

  <h5 class="text-info mt-4 text-monospace"><b> Mon forfait</b></h5>
  <hr class="mt-2 mb-4 bg-info">


  <h5 class="text-info mt-4 text-monospace"><b> Mes réseaux</b></h5>
  <hr class="mt-2 mb-4 bg-info">
    {% comment '2' %}
    {% include './network_list.html' %}
    {% endcomment %}

{% endblock %}