{% extends "iotCloud/accueil.html" %}

{% block content %}
<h2 class="text-info"> A propos de mon compte </h2> 
<hr class="mt-2 mb-4">
<h5 class="text-info mt-4"><b> Profil</b></h5>
{% if user.is_authenticated %}
<table class="table">
    <tr>
        <td>Nom d'utilisateur: </td>
        <td>{{ user.username }} </td>
    </tr>
    <tr>
        <td>Nom de famille:</td>
        <td>{{ user.last_name }} </td>
    </tr>
    <tr>
        <td>Prénom: </td>
        <td>{{ user.first_name }} </td>
    </tr>
    <tr>
        <td>email: </td>
        <td>{{ user.email }} </td>
    </tr>
    <tr>
        <td>Numéro de téléphone: </td>
        <td>{{ proprietaire.telephone_proprio }} </td>
    </tr>
    <!--tr>
        <td>Mon pays: </td>
        <td>{{ proprietaire.pays_proprio }} </td>
    </tr>
    <tr>
        <td>Ma Ville: </td>
        <td>{{ proprietaire.ville_proprio }} </td>
    </tr>
    <tr>
        <td>Image de profil: </td>
        <td>{{ proprietaire.avatar }} </td>
    </tr-->
</table>

<h5 class="text-info mt-4"><b> Mon forfait</b></h5>
 
<h5 class="text-info mt-4"><b> Mes réseaux</b></h5>
<table class="table table-bordered table-hover">
    <thead class="bg-info">
      <tr>
        <!--th>Id</th-->
        <th>Nom</th>
        <th>Adresse</th>
        <th>Date de création</th>
        <th>Description</th>
        <th>Supprimer</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      {% for netw in reseaux %}
        <tr>
          <!--td>{{ netw.id_reseau }}</td-->
          <td>{{ netw.nom_reseau }}</td>
          <td>{{ netw.adresse_puit }}</td>
          <td>{{ netw.date_creation }}</td>
          <td><a href="#" data-toggle="tooltip" data-placement="top" title="{{ netw.description_reseau }}">
                {% if netw.description_reseau|length > 25 %}
                    {{ netw.description_reseau|slice:"25" }}...
                {% else %}
                    {{ netw.description_reseau }}
                {% endif %}</a>
          </td>
          <td><a href="#"><i class="far fa-edit"> edit</i></a></td>
          <td><i class="fas fa-trash-alt"></i></td>
        </tr>
      {% empty %}
        <tr class="table-active">
          <td colspan="6">Vous n'avez aucun réseau pour le moment...</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
    <p>
        <a href="{% url 'nouveau_reseau' %}" class="btn btn-primary">Nouveau réseau</a>
    </p>
{% endif %}
<script>

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
{% endblock %}