<!DOCTYPE html>
<html lang=fr>

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
</head>

<body class="bg-dark">
	<div class="container-fluid d-flex justify-content-center align-items-center mt-5 p-2">
		<div class="card text-white  mb-3" style="max-width: 30rem;">
		<div class="card-header bg-info d-flex justify-content-center">
				<h3 class="mt-2"> IoT Cloud </h3>
		</div>
		<div class="card-body text-dark">
			<h5 class="card-title d-flex justify-content-center">
				{% block title %}

				{% endblock title %}
			</h5>

			<p class="card-text">
				{% block content %}

				{% endblock content %}
			</p>
		</div>
		<div class="card-footer d-flex justify-content-center">
			{% block cfooter %}

			{% endblock cfooter %}
		</div>
		</div>
	</div>
</body>
</html>